@charset "utf-8";

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input {
	margin: 0;
	padding: 0
}

img {
	border: 0;
	display: block
}

li {
	list-style: none
}

input,select,textarea {
	outline: 0;
	border: 0
}

textarea {
	resize: none
}

a {
	text-decoration: none
}

.clearfix:after {
	content: "";
	display: block;
	clear: both
}

.clearfix {
	zoom: 1
}

body {
	background: #000000;
	font-size: 14px;
	font-family: "微软雅黑"
}

img {
	display: block
}

a {
	color: #8a8d8f9d;
	text-decoration: none
}

a:hover {
	color: #16b1b1b7;
	text-decoration: underline
}

#top {
	height: 95px;
	background: #000000
}

#top .header {
	width: 1000px;
	height: 95px;
	margin: 0 auto;
	position: relative
}

#top .header .serchArea {
	width: 600px;
	position: absolute;
	left: 228px;
	top: 10px;
	text-align: center;
	margin: auto;
}

#top .header .serchArea .cat_btn span {
	display: inline-block;
	font-size: 15px;
	padding: 4px 10px;
	margin-right: 8px;
	cursor: pointer;
	color: #333030;
	transition: .3s
}

#top .header .serchArea .cat_btn span.active {
	background-color: #aa00092a;
	color: #333030
}

#top .header .serchArea #input_text {
	outline: 0;
	border: 0;
	width: 438px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	padding: 0 10px;
	margin-top: 1px;
	margin-left: 65px;
	font-family: "微软雅黑";
	text-align: center;
	margin: auto;
}

#top .header .serchArea .search_btn {
	position: absolute;
	top: 25px;
	right: 82px;
	display: block;
	width: 64px;
	height: 26px;
	line-height: 26px;
	background-color: #1a96968a;
	color: #fff;
	text-align: center;
	font-size: 13px;
	cursor: pointer
}

#top .header .serchArea .search_btn:hover {
	color: #333030;
	text-decoration: none
}

#top .header .serchArea .btn_search {
	display: table;
	margin: 14px auto 0
}

#top .header .serchArea .btn_search button {
	padding: 6px 13px;
	border: 0;
	outline: 0;
	background-color: #1a96968a;
	color: #ece3e3bb;
	font-size: 14px;
	cursor: pointer;
	margin-right: 13px;
	font-family: "微软雅黑";
	transition: padding-left .3s
}

#cebian {
	position: fixed;
	left: 50%;
	top: 175px;
	margin-left: 506px;
	border: 1px solid #333030
}

#cebian li {
	width: 86px;
	font-size: 15px;
	background-color: #333030;
	height: 30px;
	text-align: center;
	border-bottom: 1px solid #333030;
	line-height: 30px
}

#cebian li:hover {
	background-color: #1a96968a
}

#cebian li:last-child {
	height: 48px;
	line-height: 48px
}

#cebian li a {
	cursor: pointer;
	text-decoration: none;
	color: rgb(156, 156, 156);
	display: block
}

#cebian li a:hover {
	color: #333030
}

.index-tj {
	width: 987px;
	background-color: #333030;
	margin: 10px auto 0
}

.index-tj .rec-left {
	width: 252px;
	height: 282px;
	float: left
}

.index-tj .rec-left img {
	width: 252px;
	height: 282px
}

.index-tj .rec-right {
	float: left;
	margin-left: 7px;
	width: 728px;
	position: relative
}

.index-tj .rec-right .small-item {
	float: left;
	width: 238px;
	height: 135px;
	position: relative
}

.index-tj .rec-right .small-item+.small-item {
	margin-left: 7px
}

.index-tj .rec-right .small-item .shadows {
	width: 100%;
	padding-left: 8px;
	box-sizing: border-box;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	bottom: 0;
	left: 0;
	color: #333030;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.index-tj .rec-right .rec-right-bottom {
	margin-top: 12px
}

.index-tj .rec-right .rec-right-bottom .big-item {
	float: left;
	width: 360px;
	height: 135px
}

.index-tj .rec-right .rec-right-bottom .big-item+.big-item {
	margin-left: 8px
}

.index-tj .rec-right .rec-right-bottom .big-item img {
	width: 360px;
	height: 135px
}

.zhutikuang {
	width: 987px;
	background-color: #27272767;
	margin: 20px auto 0;
	min-height: 50px;
	position: relative
}

.zhutikuang .tab {
	width: 987px;
	height: 37px;
	border-bottom: 1px solid #bbb4b4
}

.zhutikuang .tab span {
	float: left;
	line-height: 37px;
	width: 100px;
	text-align: center;
	font-size: 15px;
	background-color: #1c4e4e59;
	color: #ece3e3;
	font-weight: bold
}

.zhutikuang .tab ul li {
	float: left;
	height: 36px;
	padding: 0 24px;
	line-height: 36px;
	font-size: 14px;
	color: #ece3e3;
	overflow: hidden;
	cursor: pointer
}

.zhutikuang .tab ul li:hover {
	color: #ece3e3bb
}

.zhutikuang .tab ul li.current {
	background-color: #ffffff00;
	color: #139c9cd8;
	font-weight: bold;
	border-bottom: 1px solid #333030
}

.zhutikuang .sites-details div {
	display: none
}

.zhutikuang .sites-details div.show {
	display: block
}

.zhutikuang .sites-details div .ul-content li {
	float: left;
	width: 140px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000
}

.zhutikuang .sites-details div .ul-content li.important a {
	color: #1a96968a;
	font-weight: bold
}

.zhutikuang .sites-details div .ul-content li a {
	display: block
}

.zhutikuang .sites-details div .ul-content li a:hover {
	color: #1a96968a;
	background-color: #333030;
	text-decoration: underline
}

.zhutikuang .sites-details div .ul-content li.small-category {
	background: url("../images/xiaofenlei.gif") no-repeat 24px -1px;
	color: #1a96968a
}

.detail-sites {
	padding-top: 10px
}

.detail-sites li {
	width: 140px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	float: left;
	margin-bottom: 10px
}

.detail-sites li a:hover {
	color: #1a96968a;
	text-decoration: underline
}